<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    
    <!-- Include files with absolute paths -->
    <xacro:include filename="$(find my_bot)/description/robot_core.xacro" />
   <xacro:include filename="$(find my_bot)/description/ros2_control.xacro" /> 
    <xacro:include filename="$(find my_bot)/description/lidar.xacro" />
    
    <!-- Call the robot_control macro (we found this one) 
    <xacro:robot_control name="robot_control" /> -->
    
</robot>
